.shared-greeting {
  margin: 0;
  color: white;
}

.welcome-message {
  display: flex;
  margin: 0;
  justify-content: center;
  padding-top: 5%;
}

.date-today {
  display: flex;
  justify-content: center;
}

.page-text {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.pomodoro-mode {
  align-items: flex-end;
}

.pomodoro-mode:visited {
  color: white;
}


